apscheduler==3.10.1
attrdict==2.0.1
bcrypt
boto3==1.24.28
Faker==16.6.0
fastapi
fastapi-pagination==0.11.2
fastapi_sqlalchemy==0.2.1
httpx
mysqlclient
openpyxl==3.1.2
pandas
passlib==1.7.4
pyjwt==2.4.0
pymysql
python-multipart
pytz
secure-smtplib==0.1.1
shortuuid==1.0.11
sqlalchemy
SQLAlchemy-Utils==0.39.0
tqdm
uvicorn
websockets==10.4